.menu {
	font-family: 'lato', sans-serif;
	width: 100%;
	word-break: break-all;
}
.menu .row {
	color: inherit;
	display: block;
	margin: 25px;
	border-radius: 15px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	padding: 25px;
	overflow: hidden;
	text-decoration: none;
}
.menu :hover {
	background-color: #ddd;
}
.menu .row .label {
	display: inline-block;
	text-align: center;
}
.menu .row .title {
	width: 60%;
}
.menu .row .type {
	width: 15%;
}
.menu .row .date {
	width: 15%;
}
